<?xml version="1.0" encoding="UTF-8"?>
<root>
	<mysql>
		<!-- <url>jdbc:mysql://192.168.1.52:3306/test?characterEncoding=utf-8</url> -->
		<!-- <user>hfrzmysql</user> -->
		<!-- <password>123456</password> -->
		<url>jdbc:mysql://127.0.0.1:3306/test?characterEncoding=utf-8</url>
		<user>root</user>
		<password>root</password>
		<dbdriver>com.mysql.jdbc.Driver</dbdriver>
	</mysql>
	<runtime>
		<res1>test</res1>
	</runtime>
</root>